@use 'styles/mixins' as mixins;
@use 'styles/variables' as variables;

$dropdown-ico-size: 14px;
$dropdown-ico-side-margin: 1px;
$dropdown-ico-block-width: 2 * $dropdown-ico-side-margin + $dropdown-ico-size;

.select {
  --select-side-padding: 16px;

  @include mixins.text(
    variables.$secondary,
    1.6rem,
    1.3,
    normal,
    var(--main-font-color)
  );

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: var(--main-bg-color);
  border: 1px solid var(--border-inactive-color);
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: color, border;

  .value_container {
    width: 100%;
    padding: 0 var(--select-side-padding);
    padding-right: calc(var(--select-side-padding) + $dropdown-ico-block-width);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    color: var(--main-hover-font-color);
    border-color: var(--border-hover-color);
  }
}

.dropdown_ico {
  position: absolute;
  top: 0;
  right: var(--select-side-padding);
  width: $dropdown-ico-size;
  height: 100%;
  margin: 0 $dropdown-ico-side-margin;
  fill: var(--secondary-font-color);
}

.dropdown {
  position: absolute;
  top: calc(100% + 7px);
  right: 0;
  left: 0;
  padding: 11px 0;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 var(--main-shadow-color);
  transform-origin: top;
}

.option {
  @include mixins.text(
    variables.$secondary,
    1.6rem,
    1.25,
    normal,
    var(--main-font-color)
  );

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 16px;
  column-gap: 5px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s;
  appearance: none;

  .ico {
    width: 20px;
    height: 20px;
    background-image: url('~/src/assets/icons/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: var(--secondary-bg-color);
  }
}

.option_label {
  width: 100%;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
